.container {
  min-height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  .banner {
    display: flex;
    max-width: 100%;
    img {
      height: fit-content;
      max-height: 320px;
      width: 100%;
    }
  }
  .header {
    width: 100%;
    height: 200px;
    background-color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .infoContainer {
      display: flex;
      .avatar {
        width: 100px;
        img {
          width: 100%;
        }
      }
      .info {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 1.2rem;
          color: black;
        }
      }
    }
    .ntweet {
      width: fit-content;
      padding: 8px;
      border-radius: 8px;
      background-color: cornflowerblue;
      color: black;
      cursor: pointer;
    }
  }
  .content {
    width: 100%;
    min-height: 50vh;
    background-color: yellow;
  }
  .modal {
    .modalContainer {
      width: 90%;
      background-color: green;
      height: 80vh;
      .close {
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        color: lightcoral;
        margin-right: 8px;
        margin-top: 8px;
        cursor: pointer;
      }
      .formContainer {
        background-color: red;
      }
    }
  }
}
