.container {
  background-color: #3e4042;
  width: 600px;
  margin: 8px 0;
  border: 0.2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      padding-top: 5px;
      img {
        height: 100%;
        border-radius: 10px;
      }
    }
    .name {
      p {
        font-size: 1.2rem;
        font-family: sans-serif;
        letter-spacing: 0.6px;
      }
    }
  }
  .link {
    button {
      background-color: cornflowerblue;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 8px;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 0.5px;
      font-family: Verdana;
      &:hover {
        box-shadow: 0 1px 0 2px #252525;
      }
    }
  }
}

@media (max-width: 650px) {
  .container {
    width: 300px;
  }
}
