.container {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.wrapper {
  background-color: #3e4042;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 4px 0 #3e4042;
  border-radius: 8px;
  padding: 2%;
  width: 40%;

  p {
    a {
      color: cornsilk;
    }
  }
}

.txtwrap {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 5vh;
  margin-left: 15%;
}

.select {
  .selectoptions {
    width: 93%;
    height: 2.5em;
    margin: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    color: black;
    border-radius: 4px;
    outline: none;
  }
  p {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    color: black;
  }
}

.username {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  p {
    font-size: 1.2rem;
  }
}

.butn {
  background-color: cornflowerblue;
  color: black;
  border-color: cornflowerblue;
  cursor: pointer;
  width: 30%;
  height: 3em;
  border-radius: 4px;
  margin-left: 0.5rem;
  margin-top: 10px;
  margin-bottom: 3vh;
  &:hover {
    box-shadow: 0 2px 4px 0 #252525;
  }
  &:focus {
    outline: none;
  }
  span {
    font-size: 1rem;
    font-weight: 2px;
    letter-spacing: 2px;
  }
}

.input_box {
  height: 3em;
  border-radius: 4px;
  margin: 1vh;
  width: 45%;
  border: 1px solid grey !important;
  font-size: 1rem;
  padding: 0px 16px;
  &:hover {
    box-shadow: 0 2px 4px 0 grey;
  }
  &:focus {
    border: 1px solid olivedrab !important;
    background-color: white;
    outline: 0;
  }
}

@media only screen and (max-width: 809px) {
  .txtwrap {
    font-size: 0.8rem;
    margin-bottom: 3vh;
  }
  .input_box {
    height: 2.5em;
  }
}
@media only screen and (max-width: 1125px) {
  .txtwrap {
    font-size: 1rem;
    margin-bottom: 3vh;
  }
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .txtwrap {
    font-size: 1.5rem;
  }
}
