.container {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #3e4042;
  .foot {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1rem;
    }
  }
}
