.container {
  background-color: #3e4042;
  width: 600px;
  margin: 8px 0;
  border: 0.2px solid black;
  border-radius: 8px;
  .tweet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    min-height: 100px;

    .tweetInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .tweetUser {
        display: flex;
        align-items: center;
        height: 40px;
        img {
          padding-left: 4px;
          border-radius: 10px;
          height: 30px;
        }
        p {
          padding-left: 4px;
          font-size: 1rem;
        }
        span {
          padding-left: 2px;
          font-size: 0.9rem;
          font-style: italic;
        }
      }
      .actions {
        display: flex;
        .deleteTweet {
          cursor: pointer;
          font-size: 1.5rem;
          margin-right: 10px;
          padding-left: 10px;
          color: #ff1717;
        }
        .editTweet {
          cursor: pointer;
          font-size: 1.4rem;
          color: #ffa600;
        }
      }
    }
    .time {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      height: 40px;
      padding: 8px 0;
      p {
        text-align: right;
        font-style: italic;
        font-size: 0.7rem;
      }
    }
    .tweetContent {
      font-size: 1rem;
      min-height: 100px;
      display: flex;
      background-color: rgb(12, 12, 12);
      padding: 10px;
      border-radius: 8px;
    }
  }
  .likes {
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 0 5px;
    div {
      p {
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
    p {
      font-size: 1rem;
    }
  }
  .reply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    margin: 0 5px;
    background-color: #252525;
    border-radius: 8px;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      input {
        margin: 0 10px;
        background-color: #252525;
        color: white;
        width: 100%;
        outline: none;
        font-size: 1rem;
        border-radius: 6px;
        padding: 10px;
        background-color: black;
        resize: none;
        transition: all 0.3s ease;
      }
      button {
        outline: none;
        border: none;
        background-color: cornflowerblue;
        padding: 10px;
        border-radius: 6px;
        font-size: 1rem;
        letter-spacing: 0.5px;
        cursor: pointer;
      }
    }
  }
  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    p {
      padding-left: 8px;
      font-size: 1rem;
      cursor: pointer;
      border: none;
      outline: none;
      text-decoration: none;
    }
    .comment {
      margin: 5px 0;
      background-color: #252525;
      padding: 5px;
      min-height: 60px;
      border-radius: 10px;
      border: 0.2px solid black;
      .commentInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .commentUser {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            padding-left: 4px;
            border-radius: 10px;
            height: 30px;
          }
          p {
            padding-left: 4px;
            font-size: 0.9rem;
          }
          span {
            padding-left: 2px;
            font-size: 0.8rem;
            font-style: italic;
          }
        }
        .deleteComment {
          cursor: pointer;
          font-size: 1.4rem;
          margin-right: 10px;
          color: #ff1717;
        }
      }
      .commentContent {
        display: flex;
        align-items: center;
        background-color: rgb(12, 12, 12);
        min-height: 40px;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 650px) {
  .container {
    width: 300px;
  }
}
