.container {
  min-height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  .banner {
    display: flex;
    max-width: 100%;
    img {
      height: fit-content;
      max-height: 320px;
      width: 100%;
    }
  }
  .header {
    width: 100%;
    height: 150px;
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.2px solid #3e4042;
    .infoContainer {
      display: flex;
      .avatar {
        width: 100px;
        img {
          width: 100%;
        }
      }
      .info {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 1.2rem;
        }
      }
    }
    .ntweet {
      width: fit-content;
      padding: 8px;
      border-radius: 8px;
      background-color: cornflowerblue;
      color: black;
      cursor: pointer;
    }
  }
  .content {
    padding: 30px 0;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tweetsContainer {
      display: flex;
      flex-direction: column;
      background-color: #3e4042;
    }
  }
  .formContainer {
    margin: 10px 5px;
    padding: 2px 0;
    width: 100%;
    background-color: #3e4042;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    .head {
      p {
        font-size: 1.2rem;
        font-style: italic;
      }
    }
    form {
      display: flex;
      justify-content: center;
      width: 100%;
      textarea {
        margin: 0 10px;
        background-color: #252525;
        color: white;
        width: 100%;
        border: 1px solid whitesmoke;
        outline: none;
        font-size: 1.3rem;
        border-radius: 10px;
        padding: 10px;
        resize: none;
        transition: all 0.3s ease;
      }
    }
    .btn {
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      align-self: flex-start;
      padding: 5px 0;
      width: fit-content;
      button {
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 0.3px;
        border: none;
        outline: none;
        background-color: cornflowerblue;
        font-size: 1.2rem;
      }
    }
  }
}
